.rvmrc
pkg/*
*.gem
.bundle
Gemfile.lock

test/fixtures/rails_root/log
test/fixtures/rails_root/public/stylesheets/cache
test/fixtures/rails_root/public/javascripts/cache
test/fixtures/rails_root/public/stylesheets/sprites
test/fixtures/rails_root/public/images/sprites
